{
	frankenphp

	admin off
	auto_https off
}

:{$PORT:8000} {
	encode gzip zstd

	root * /app/public

	@staticFiles {
		file
		not path /index.php
	}
	handle @staticFiles {
		file_server
	}

	php_server {
		worker {
			file /app/public/index.php
			num {$FRANKENPHP_NUM_THREADS:auto}
		}
	}
}
